.idea
ne/.idea/
/.idea/
.idea/worspace.xml
/.idea/*

venv*/
*.env

.vscode/
documents/
documents/*
**/__pycache__/

/media/
media/
media/*

static/admin/
static/rest_framework/
static/rest_framework_docs/

ne/.settings.py.swp

*.swp
ne/__init__.pyc

django.log

settings.ini

# MacOS
.DS_Store
tests/*
.tx/

/htmlcov/
/db/
db/data/*

.python-version

db.sqlite3

zappa_settings.json