{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    <header class="bkgLogin">
        <div class="container  ">
            <div class="row  logincontainer d-flex justify-content-center align-items-center ">

                <div class="col-sm-4 col-sm-offset-4  card">
                    <div class="logoCompany"></div>
                    <p>
                        {% translate '¿Olvidaste tu contraseña? Introduce tu correo electrónico y te enviaremos uno nuevo.'%}
                    </p>
                    <form class="login">
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example1">
                                {% translate 'Email' %}
                            </label>
                            <input type="email" id="form2Example1" class="form-control" placeholder="name@example.com" />
                        </div>
                        <!-- Submit button -->
                        <button type="button" class="btn btn-primary mb-4">
                            {% translate 'Enviar' %}
                        </button>
                        <!-- Register buttons -->
                        <div class="text-start">
                            <p>
                                {% translate 'Ir a Ingreso' %} <a href="{% url 'login' %}">{% translate 'Ingresar' %}</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

{% endblock %}