{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% load extras %}
{% load i18n %}

{% block scripts %}

    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script>
        const INPUTS_COUNT = 6;
        const LIVE_DATA_URL = "{% url 'get_inputs_live_data' %}";
        const INPUT_LABELS = {
            voltage: "{% translate 'Voltaje (V)' as s %}{{ s|escapejs }}",
            current: "{% translate 'Corriente (A)' as s %}{{ s|escapejs }}",
            apparent_power: "{% translate 'Potencia Aparente (VA)' as s %}{{ s|escapejs }}",
            active_power: "{% translate 'Potencia Activa (W)' as s %}{{ s|escapejs }}",
            reactive_power: "{% translate 'Potencia Reactiva (VAr)' as s %}{{ s|escapejs }}",
            power_factor: "{% translate 'Factor Potencia' as s %}{{ s|escapejs }}",
            phase_vi: "{% translate 'Fase V-I (º)' as s %}{{ s|escapejs }}",
            frequency: "{% translate 'Frecuencia (Hz)' as s %}{{ s|escapejs }}",
            energy: "{% translate 'Energia' as s %}{{ s|escapejs }}",
            phase: "{% translate 'Fase' as s %}{{ s|escapejs }}",
            noConfig: "{% translate 'No se pudo leer la configuración de entradas del PDU.' as s %}{{ s|escapejs }}"
        };
    </script>
    {{ input_csv_urls|json_script:"inputCsvUrls" }}
    {{ layout|json_script:"initialLayout" }}
    <script src="{% static_v 'js/app/live_inputs.js' %}"></script>

{% endblock %}


{% block content %}

    <section>
        <div class="container">
            <div class="row pt-4">
                <div class="col">
                    <h1 class="text-center">
                        {% translate 'Entradas' %}
                    </h1>
                </div>
            </div>
            <div class="row pt-2 ">
                <!-- Data: only the inputs selected by the DIP switches -->
                <div class="col-lg-5">
                    <div class="borderGreen p-4 mb-3">
                        <div class="iconAbsolute"><span class="iconPhase"></span></div>
                        <h3 class="textGreen ml-50 little2">
                            {% translate 'Información de alimentación' %}
                        </h3>
                        <dl class="ne-kv mt-3">
                            <dt>{% translate 'Rama' %}</dt><dd id="infoBranch">-</dd>
                            <dt>{% translate 'Tipo' %}</dt><dd id="infoType">-</dd>
                            <dt>{% translate 'Tipo de corriente' %}</dt><dd id="infoCurrent">-</dd>
                        </dl>
                    </div>
                    <div class="borderGreen p-4 mb-3">
                        <h3 class="textGreen little2">{% translate 'Total' %}</h3>
                        <dl class="ne-kv mt-3">
                            <dt>{% translate 'Potencia total' %}</dt><dd><span id="totalPower">-</span> W</dd>
                            <dt>{% translate 'Energía total' %}</dt><dd><span id="totalEnergy">-</span> Wh</dd>
                        </dl>
                    </div>
                    <div id="branchCards"></div>
                    <p class="text-danger" id="inputsUnavailable" hidden>
                        {% translate 'No se pudo leer la configuración de entradas del PDU.' %}
                    </p>
                </div>
                <!-- Charts -->
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col">
                            <div class="borderGreen mb-3">
                                <h3 class="textGreen little2">{% translate 'Voltaje' %}</h3>
                                <div id="chartVoltage" class="chartInputs"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="borderGreen mb-3">
                                <h3 class="textGreen little2">{% translate 'Corriente' %}</h3>
                                <div id="chartPhaseCurrent" class="chartInputs"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="borderGreen mb-3">
                                <h3 class="textGreen little2">{% translate 'Potencia Activa' %}</h3>
                                <div id="chartActivePower" class="chartInputs"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="borderGreen mb-3">
                                <h3 class="textGreen little2">{% translate 'Factor Potencia' %}</h3>
                                <div id="chartPowerFactor" class="chartInputs"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
